<footer>
    
    <h4>Souvlaki</h4>
    <div class="social-media">
        <a href="https://www.facebook.com"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i></a>
    </div>
    <div class="footer-nav">
        <a href="/ordernow" class="order-now">Order Now</a>
        <a href="/ourstory" class="our-story">Our Story</a>
        <a href="/#visit" class="location">Location</a>
    </div>
</footer>