<nav class="nav">
  <div class="container">
    <h1 class="logo">
      <a href="/">Souvlaki</a>
    </h1>

    <div id="toggler"><i class="fa-solid fa-bars"></i></div>

    <ul class="nav-items fold">
      <li><a href="/">Home</a></li>
      <li><a href="/ordernow">Order Now</a></li>
      <li><a href="/ourstory">Our Story</a></li>
      <li class="cart">
        <a href="/shoppingcart">
          <i class="fa-solid fa-cart-shopping"></i>
          <span id="cartCount">0</span>
        </a>
      </li>
    </ul>
    
  </div>
</nav>