<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Souvlaki</title>
    <script src="https://kit.fontawesome.com/cdc278382b.js" crossorigin="anonymous"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css' rel='stylesheet' />

    <link rel="icon" href="/img/Souvlaki.png">
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="/stylesheets/ourstory.css">
    <link rel="stylesheet" href="/stylesheets/ordernow.css">
    <link rel="stylesheet" href="/stylesheets/shoppingcart.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">

</head>

<body>
    <%- include('partials/navbar') %>

    <main>
        <%- body %>
    </main>

    <%- include('partials/footer') %>

    <script src="/jsScripts/navScript.js"></script>

</body>

</html>