<% layout('boilerplate') -%>
  <div class="hero">
    <div class="wrapper">
      <h1>Souvlaki</h1>
      <h4>Deliciously Greek</h4>
    </div>
  </div>

  <div class="details">
    <div class="blurb">
      <p>A souvlaki bar focused on tradition and the authentic craft greek tastes, based in Preston, Victoria.</p>
    </div>

    <div class="home-menu">
      <img
        src="/img/iStock-1126393297.jpg"
        alt="">
      <div class="description">
        <h3>Our Souvlaki</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam reiciendis, non ex, vero, hic perspiciatis
          aliquam iste velit laborum doloribus cum ipsam. Unde, ut quidem rerum voluptatem itaque error neque.</p>
        <form action="/ordernow">
        <!-- <form action="/menu">   -->
          <button>Menu</button>
        </form>
      </div>
    </div>

    <div class="home-story">
      <img
        src="/img/johnny-africa-qvdGgOwgw1Q-unsplash.jpg"
        alt="">
      <div class="description">
        <h3>Our Story</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo in a culpa harum quae ullam excepturi voluptate
          dolorem veniam eius facilis corporis doloremque voluptas, laudantium repellat pariatur eaque. Vitae, aperiam.
        </p>
        <form action="/ourstory">
          <button>Our Story</button>
        </form>
      </div>

    </div>
  </div>




  <div class="slider-container">
    <div class="slide active fade"
      style="background-image: url('/img/irws-pUCck5WyUH4-unsplash.jpg')">
    </div>
    <div class="slide fade"
      style="background-image: url('/img/iStock-1126393297.jpg')">
    </div>
    <div class="slide fade"
      style="background-image: url('/img/imgonline-com-ua-resize-Rxrb5fFgzKQ.jpg')">
    </div>
    <div class="slide fade"
      style="background-image: url('/img/imgonline-com-ua-resize-otKnpTbkFSoJ.jpg')">
    </div>
    <div class="slide fade"
      style="background-image: url('/img/imgonline-com-ua-resize-WgEUEBy4lxXdh.jpg')">
    </div>
    <button class="arrow left-arrow" id="left">
      <i class="fa-solid fa-arrow-left"></i>
    </button>
    <button class="arrow right-arrow" id="right">
      <i class="fa-solid fa-arrow-right"></i>
    </button>


  </div>

  <div class="dots-container">
    <span class="dot active"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
  </div>


  <div class="visit" id="visit">
    <div class="visit-text">
      <div class="heading">
        <h2>Visit Us</h2>
      </div>
      <div class="address">
        <p>30A The Centreway, Preston VIC 3072</p>
      </div>
      <div class="open-hours">
        <h3>Open Hours</h3>
        <p>Monday: CLOSED</p>
        <p>Tuesday: CLOSED</p>
        <p>Wednesday: 8am - 3pm</p>
        <p>Thursday: 8am - 3pm</p>
        <p>Friday: 8am - 6pm</p>
        <p>Saturday: 8am - 3pm</p>
        <p>Sunday: 8am - 3pm</p>
      </div>
    </div>

    <div class="map" id="map"></div>

  </div>


  <script src="/jsScripts/slider.js"></script>
  <script src="/jsScripts/map.js"></script>
  <script src="/jsScripts/cart.js"></script>