<% layout('boilerplate') -%>
    <div class="ordernow-container">
        <div class="menu-container">
        </div>

        <a href="/shoppingcart" class="gotocart"><button>Go to shopping cart</button></a>
    </div>
    

    <script src="/jsScripts/productList.js"></script>
    <script src="/jsScripts/main.js"></script>