<% layout('boilerplate') -%>

    <section class="story">
        <img src="/img/johnny-africa-qvdGgOwgw1Q-unsplash.jpg" alt="">
        <article class="text">
            <h1>Our Story</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aperiam atque corrupti voluptas,
                quas numquam enim in explicabo, recusandae minima quia ea eaque perferendis reiciendis quisquam
                excepturi quasi tempore! Asperiores.</p>
                <br>
                
                <p>Quo inventore aspernatur dolor quae ipsa maiores a rem dicta voluptatum distinctio animi
                obcaecati enim voluptate asperiores, iste nihil quam error architecto nesciunt at in maxime
                neque! Nulla, impedit perspiciatis.
                Deleniti minus, soluta in nihil unde possimus aliquam cumque non officia assumenda doloremque
                laborum sed veniam pariatur et. Qui veritatis magnam nostrum optio deserunt asperiores aliquam
                consequuntur libero, sit quibusdam!</p>
                <br>
                <p>Laboriosam, doloribus quam quibusdam voluptas reprehenderit, deserunt dignissimos atque alias
                vero delectus aut corrupti. Accusantium, eum commodi. Consequatur, ab accusamus, sequi maxime
                tempora qui, quibusdam neque nam asperiores praesentium voluptatibus!
                Eius eos ab tempore facilis sit aliquid eum placeat modi expedita quibusdam voluptates autem,
                quae dolore ducimus beatae possimus officiis omnis, assumenda repudiandae et necessitatibus rem
                illum quisquam repellendus. Sequi?</p>
                <br>
                <p>Quas eligendi delectus, hic est ducimus cupiditate consequatur illo porro repellat incidunt
                quasi illum fugit provident officia ullam placeat doloribus. Ab voluptatem maxime rem quasi
                veniam illum officiis reprehenderit. Hic?</p>
                <br>
                <p>Iusto inventore voluptatem in accusantium rerum magnam neque. Dolorem rerum ipsum cum, placeat
                maiores laudantium delectus ratione? Aliquid veritatis, nostrum, rerum nemo nobis quod id,
                facere dolores iusto ad ipsam!
                </p>
        </article>

    </section>

    <script src="/jsScripts/cart.js"></script>