<% layout('boilerplate') -%>
    <div class="cart-container">
        <h2>Shopping Cart</h2>
        <div class="products-container">
            <div class="cart-product">
                
            </div>
        </div>

        <div class="total-price"> 
            
        </div>
    </div>
    
    

    <script src="/jsScripts/productList.js"></script>
    <script src="/jsScripts/cart.js"></script>
    



