@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.cart-container {
    margin-top: 70px;
    padding: 50px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

.cart-container h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    padding-bottom: 20px;
    border-bottom: 2px solid lightgray;
}

.products-container {
    margin-bottom: 20px;
}

.cart-product {
    display: flex;
    /* grid-area: ; */
    /* margin: 15px; */
    justify-content: space-between;
    padding: 15px;
    border-bottom: 2px solid lightgray;
}

.cart-product img {
    width: 20%;
}

.menu-text {
    width: 60%;
}

.cart-product .item-name {
    margin-bottom: 10px;
}

.cart-product .decrement, .cart-product .increment {
    cursor: pointer;

}

.amount {
    margin-top: 7px;
    border: solid 1px lightgray;
    border-radius: 7px;
    padding: 4px;
    font-size: 15px;
    width: 90px;
}

.amount i, .amount span {
    padding: 5px;
}

.amount i {
    color: lightgray;
}
.item-price-remove {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-right: 5px;
}

.item-price, .remove-button {
    margin: 10px;
    padding: 5px;
    font-weight: 500;
}

.item-price {
    font-size: 1.2em;
    /* font-weight: bold; */
}

.remove-button {
    cursor: pointer;
}

.cart-total {
    letter-spacing: 1.3px;
}

.checkout {
    font-family: 'Poppins', sans-serif;
    margin: 20px 2px;
    letter-spacing: 1px;
    cursor: pointer;
}

.ripple {
    background-color: var(--feature-color);
    color: #fff;
    border: 1px var(--feature-color) solid;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 10px 20px;
    position: relative;
    border-radius: 3px;
    overflow: hidden;
}
  
.ripple .circle {
    position: absolute;
    background-color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation: scale 0.5s ease-out;
  }

@keyframes scale {
    to {
      transform: translate(-50%, -50%) scale(3);
      opacity: 0;
    }
}

.no-items {
    margin: 20px auto;
}

.start-to-order {
    background-color: var(--feature-color);
	color: #fff;
	border: 1px var(--feature-color) solid;
	font-size: 14px;
	font-family: 'Poppins', sans-serif;
	letter-spacing: 2px;
	padding: 10px 20px;
	border-radius: 3px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.start-to-order:hover {
    opacity: 0.8;
}

@media (max-width: 568px) {
    .cart-product img {
        display: none;
    }

    .menu-text {
        width: 80%;
    }
}