<% layout('boilerplate') -%>
    <div class="login-container">
        <div class="login-section">
            <h1>Login</h1>
            <form action="/login" method="POST">
                <div class="">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button>Log In</button>
            </form>
        </div>

        <div class="register-section">
            <h1>Create an Account</h1>
            <form action="/register">
                <button>Create an Account</button>
            </form>
        </div>
    </div>